"*":
  "atom-beautify":
    analytics: false
  core:
    disabledPackages: [
      "welcome"
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "tmp"
      "vendor"
    ]
    themes: [
      "one-light-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "git-diff":
    showIconsInEditorGutter: true
  linter: {}
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-hide": true
      pigments: true
      selection: true
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "save-session":
    dataSaveFolder: "/Users/sylvain/.atom/packages/save-session/projects"
  welcome:
    showOnStartup: false
