"*":
  "atom-beautify":
    general:
      analytics: false
  core:
    disabledPackages: [
      "welcome"
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      ".hg"
      "log"
      "tmp"
      "vendor"
      ".DS_Store"
    ]
    themes: [
      "one-light-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    showErrorPanel: false
  "linter-shellcheck": {}
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      bookmarks: true
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
      pigments: true
      selection: true
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "save-session":
    dataSaveFolder: "/Users/sylvain/.atom/packages/save-session/projects"
  welcome:
    showOnStartup: false
  whitespace: {}
".js.regexp.replacement.source":
  editor:
    softWrapHangingIndent: 4
".js.regexp.source":
  editor:
    softWrapHangingIndent: 4
".js.source":
  editor:
    softWrapHangingIndent: 4
